<%= form_for @firm do |f| %>

  <h2>1. Informations de la société</h2>
  <div class="form-group form-firm-name">
    <%= f.label :name, "Nom de la société", class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group form-firm-address">
    <%= f.label :official_address, "Siège social" %>
    <%= f.text_area :official_address, class: "form-control", rows: 3 %>
  </div>
  <div class="form-group form-firm-rcs">
    <%= f.label :rcs, "RCS" %>
    <%= f.text_field :rcs, class: "form-control" %>
  </div>
  <div class="form-group form-firm-court">
    <%= f.label :court_service, "Greffe du" %>
    <%= f.text_field :court_service, class: "form-control" %>
  </div>
  <div class="form-group form-firm-initial-capital">
    <%= f.label :initial_capital, "Capital social (pré-levée)" %>
    <%= f.text_field :initial_capital, class: "form-control" %>
  </div>


  <h2>2. Informations bancaires</h2>
  <div class="form-group form-firm-bank-name">
  <%= f.label :bank_name, "Nom de la banque" %>
  <%= f.text_field :bank_name, class: "form-control" %>
  </div>
  <div class="form-group form-firm-bank-agency">
  <%= f.label :bank_agency, "Nom de l'agence bancaire" %>
  <%= f.text_field :bank_agency, class: "form-control" %>
  </div>
  <div class="form-group form-firm-bank-address">
  <%= f.label :bank_agency_address, "Adresse de l'agence" %>
  <%= f.text_field :bank_agency_address, class: "form-control" %>
  </div>
  <div class="form-group form-firm-bank-account">
  <%= f.label :bank_account, "Numéro de compte de la société" %>
  <%= f.text_field :bank_account, class: "form-control" %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% if @firm.shareholders.any? %>
    <div class="row">
      <div class="col-sm-4">
        <%= f.submit "Modifier les infos des actionnaires existants", class: 'btn btn-primary border-bottom' %>
      </div>
      <div class="col-sm-4 col-sm-offset-1">
        <%= button_to "Définir la répartition du capital", ownership_path(@firm, @round), method: 'get', class: 'btn btn-primary border-bottom' %>
      </div>
    </div>
  <% else %>
    <%= f.submit "Ajouter les actionnaires pré-levée", class: 'btn btn-primary border-bottom' %>
  <% end %>
<% end %>
