
<table>
  <th>Prénom</th>
  <th>Nom</th>
  <th>Adresse</th>
  <th>Date de naissance</th>
  <th>Nationalité</th>
<% @firm.shareholders.each do |shareholder| %>
  <tr>
    <td><%=shareholder.first_name%></td>
    <td><%=shareholder.last_name%></td>
    <td><%=shareholder.address%></td>
    <td><%=shareholder.birth_date%></td>
    <td><%=shareholder.nationality%></td>
  </tr>
<%end%>
</table>