<div class="row">
  <div class="col-sm-6">
    <h2>Liste des sociétés ajoutées par <%= current_user.email %></h2>
  </div>
  <div class="col-sm-6">
    <%= button_to "Ajouter une société", new_firm_path, method: 'get', class: "btn btn-success pull-right"%>
  </div>
</div>

<table class="table table-hover firms-index-table">
  <th>Société</th>
  <th>Dernière édition</th>
  <th></th>
  <th></th>
  <% @firms.order("updated_at desc").each do |firm| %>
    <% if firm.user_id == current_user.id %>
      <tr>
        <td><h4><%=link_to firm.name, firm_path(firm)%></h4></td>
        <td><%=firm.updated_at.strftime("%d %B %Y à %H:%M")  %></td>
        <% if firm.rounds.count > 1 %>
          <td><%= button_to "Voir l'opération en cours", rounds_path(firm), method: 'get', class: "btn btn-sm btn-primary center-block"%></td>
        <% else %>
          <td><%= button_to "Démarrer une augmentation de capital", new_round_path(firm), method: 'get', class: "btn btn-sm btn-primary center-block"%>
        <% end %>
        </td>
        <td><%= button_to "Editer les détails", edit_firm_path(firm), method: 'get', class: "btn btn-sm btn-default pull-right" %></td>
      </tr>
    <% end %>
  <% end %>
</table>
