<h1>Société '<%= @firm.name %>'</h1>

<%=link_to "Editer les détails de la société", edit_firm_path(@firm)%>

<table>
    <tr>
      <td>Adresse</td>
      <td><%=@firm.official_address%></td>
    </tr>
    <tr>
      <td>Numéro RCS</td>
      <td><%=@firm.rcs%></td>
    </tr>
    <tr>
      <td>Banque</td>
      <td><%=@firm.bank_name%> (agence <%=@firm.bank_agency%>)</td>
      <td><%=@firm.bank_agency_address%></td>
    </tr>
    <tr>
      <td>Numéro de compte</td>
      <td><%=@bank_account%></td>
    </tr>
</table>


<table>
  <th>Prénom</th>
  <th>Nom</th>
  <th>Nombre d'actions</th>
  <% @shareholders.each do |shareholder| %>
    <tr>
      <td><%= shareholder.first_name %></td>
      <td><%= shareholder.last_name %></td>
      <td><%= shareholder.shares %></td>
    </tr>
  <% end %>
</table>

<h4>Capital social initial: <strong><%= @firm.initial_capital.to_s %></strong> €</h4>

<h4><strong><%=@firm.shares%></strong> actions en circulation</h4>
<h4>Valeur nominale de <strong><%=@firm.nominal_value.to_s%> €</strong></h4>