<h1>Société '<%= @firm.name %>'</h1>

Capital social initial: <strong><%= @firm.initial_capital.to_s %></strong> €
<table>
  <th>Prénom</th>
  <th>Nom</th>
  <th>Nombre d'actions</th>
  <% @shareholders.each do |shareholder| %>
    <tr>
      <td><%= shareholder.first_name %></td>
      <td><%= shareholder.last_name %></td>
      <td><%= shareholder.shares %></td>
    </tr>
  <% end %>
</table>

<strong><%=@firm.shares%></strong> actions en circulation
à une valeur nominale de <strong><%=@firm.share_price.to_s%> €</strong>