
<div class="row">
  <div class="col-sm-5">
    <h1>Société '<%= @firm.name %>'</h1>
  </div>
  <div class="col-sm-4">
    <% if @firm.rounds.count > 1 %>
      <%= button_to "Voir l'opération en cours", rounds_path(@firm), method: 'get', class: "btn btn-lg btn-success center-block"%>
    <% else %>
      <%= button_to "Démarrer une augmentation de capital", new_round_path(@firm), method: 'get', class: "btn btn-success center-block"%>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%=button_to "Editer les détails de la société", edit_firm_path(@firm), method: 'get', class: "btn btn-sm btn-primary" %>
    <br>
    <%= button_to "Supprimer la société", firm_path(@firm), method: 'delete', class: "btn btn-sm btn-danger"%>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Informations sur la société</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>Adresse : <%=@firm.official_address%></p>
          <p>Numéro RCS : <%=@firm.rcs%> (greffe de <%=@firm.court_service%>)</p>
          <p>Banque : <%=@firm.bank_name%> (agence <%=@firm.bank_agency%>)</p>
          <p>Adresse de la banque : <%=@firm.bank_agency_address%></p>
          <p>Numéro de compte : <%=@bank_account%></p>
        </div>
        <div class="col-sm-6">
          <p>Capital social pré-augmentation de capital: <strong><%= number_with_delimiter(@firm.initial_capital.to_s, delimiter: " ", separator: ",", locale: :fr) %></strong> €</p>
          <p><strong><%=@firm.shares%></strong> actions en circulation</p>
          <p>Valeur nominale de <strong><%=@firm.nominal_value.round(2)%> €</strong></p>
        </div>
      </div>
    </div>
  </div>
  <% if @firm.rounds.count > 1 %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Infos post-levée</h3>
        </div>
        <div class="panel-body">
          <p>
          Voir le tableau de capitalisation : <%= link_to "Format Web", cap_table_path(format: "html") %></p>
          <p>Télécharger le tableau de capitalisation : <%= link_to "Format Excel", cap_table_path(format: "xls") %>
          <p>Montant levé : <%= number_with_delimiter(@firm.rounds.last.amount_raised, delimiter: " ", separator: ",", locale: :fr) %> € (<%= @firm.rounds.last.ownership_offered%>% du capital ouvert)</p>
          <p>Nouveau prix de l'action : <%= number_with_delimiter(@firm.real_value.round(2), locale: :fr) %> €</p>
          <p>Prime d'émission <%= @firm.premium.round(2) %> €</p>
          <p>Valorisation pre-money : <%= number_with_delimiter(@firm.pre_valuation.round(2), delimiter: " ", separator: ",", locale: :fr) %> €</p>
          <p>Valorisation post-money : <%= number_with_delimiter(@firm.post_valuation.round(2), delimiter: " ", separator: ",", locale: :fr) %> €</p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row"></div>
<h3>Liste des actionnaires</h3>
<table class="table table-hover table-bordered table-condensed">
  <tr class="info">
    <th>Prénom</th>
    <th>Nom</th>
    <th>Nb d'actions détenues</th>
    <% if @firm.rounds.count > 1 %>
      <th>Nb d'actions détenues (rompus)</th>
      <th>Montant souscrit (rompus)</th>
      <th>Montant non-souscrit (rompus)</th>
      <th>Prime d'émission</th>
    <% end %>
    <% if @firm.rounds.count > 1 %>
      <th>Capital détenu (post-AK)</th>
    <% else %>
      <th>Capital détenu (pré-AK)</th>
    <% end %>
  </tr>
  <% @shareholders.order("created_at asc").each do |shareholder| %>
    <tr>
      <td><%= shareholder.first_name %></td>
      <td><%= shareholder.last_name %></td>
      <td><%= number_with_delimiter(shareholder.shares.round(2), delimiter: " ", separator: ",", locale: :fr) %> actions</td>

      <% if @firm.rounds.count > 1 && !shareholder.initial_investor %>
        <td><%= number_with_delimiter(shareholder.corrected_shares, delimiter: " ", separator: ",", locale: :fr) %> actions</td>
        <td><%= number_with_delimiter((shareholder.corrected_shares * @firm.real_value).round(2), delimiter: " ", separator: ",", locale: :fr) %> €</td>
        <td><%= number_with_delimiter(shareholder.non_subscribed_amount.round(2), delimiter: " ", separator: ",", locale: :fr) %> €</td>
        <td><%= number_with_delimiter((shareholder.corrected_shares * @firm.premium).round(2), delimiter: " ", separator: ",", locale: :fr) %> €</td>
      <% elsif @firm.rounds.count == 1 %>

      <% else %>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      <% end %>
      <td><%= ((shareholder.shares.to_f/@firm.shares.to_f)*100).round(2)%>% </td>

    </tr>
  <% end %>
  <tr class="active">
    <td><strong>Total</strong></td>
    <td></td>
    <td><%=number_with_delimiter(@firm.shareholders.sum('shares').round(2), delimiter: " ", separator: ",", locale: :fr)%> actions</td>
    <% if @firm.rounds.count > 1 %>
      <td><%=number_with_delimiter(@firm.shareholders.sum('corrected_shares'), delimiter: " ", separator: ",", locale: :fr)%> actions</td>
      <td><%=number_with_delimiter((@firm.shareholders.where(initial_investor: false).sum('corrected_shares') * @firm.real_value).round(2), delimiter: " ", separator: ",", locale: :fr)%> €</td>
      <td><%=number_with_delimiter(@firm.shareholders.sum('non_subscribed_amount').round(2), delimiter: " ", separator: ",", locale: :fr)%> €</td>
      <td><%=number_with_delimiter((@firm.shareholders.where(initial_investor: false).sum('corrected_shares') * @firm.premium).round(2), delimiter: " ", separator: ",", locale: :fr)%> €</td>
    <% else %>

    <% end %>
    <td><%=((@firm.shareholders.sum('corrected_shares').to_f/@firm.shares.to_f)*100).round(2)%> %</td>
  </tr>
</table>