<% if @firm.shareholders.any? %>
    <% if @firm.rounds.count > 1 %>
      <legend>Liste des nouveaux actionnaires</legend>
    <% else %>
      <legend>Liste des actionnaires initiaux</legend>
    <% end %>
  <table class="table table-hover">
    <th>Prénom</th>
    <th>Nom</th>
    <th></th>
  <% @firm.shareholders.each do |shareholder| %>
    <% if (@round.initial_round && shareholder.initial_investor) || (!@round.initial_round && !shareholder.initial_investor) %>
        <tr>
          <td><%=shareholder.first_name%></td>
          <td><%=shareholder.last_name%></td>
          <td><%= link_to 'Supprimer', delete_shareholder_path(@firm, @round.id, shareholder), method: 'delete', remote: true %></td>
        </tr>
    <% end %>
  <%end%>
  </table>
  <hr>
<div class="col-sm-8 col-sm-offset-2">
  <p class="text-center"><small>Tous les actionnaires initiaux ont été ajoutés ?</small></p>
</div>
  <% if @firm.rounds.count > 1 %>
        <%= button_to 'Définir les montants investis par les actionnaires', ownership_path(@firm, @round.id), method: 'get', class: "btn btn-primary add-ownership-button" %>
    <% else %>
        <%= button_to 'Définir la répartition du capital entre actionnaires', ownership_path(@firm, @round.id), method: 'get', class: "btn btn-primary add-ownership-button" %>
    <% end %>
<% end %>