
<% if @firm.shareholders.any? %>
  <table>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Adresse</th>
    <th>Date de naissance</th>
    <th>Nationalité</th>
  <% @firm.shareholders.each do |shareholder| %>
    <tr>
      <td><%=shareholder.first_name%></td>
      <td><%=shareholder.last_name%></td>
      <td><%=shareholder.address%></td>
      <td><%=shareholder.birth_date%></td>
      <td><%=shareholder.nationality%></td>
      <td><%= link_to 'Delete shareholder', delete_shareholder_path(@firm, shareholder), method: 'delete', remote: true %></td>
    </tr>
  <%end%>
  </table>
<% end %>