<h1>Définir les montants investis par les nouveaux actionnaires de <%= @firm.name %> (post-levée)</h1>

<%= form_for :investment, url: update_round_ownership_path(@firm.id, @round.id), method: 'post' do |f| %>
<table>
  <th>Prénom</th>
  <th>Nom</th>
  <th>Montant investi</th>
    <% @firm.investments.each do |investment| %>
      <% shareholder = Shareholder.find(investment.shareholder_id) %>
      <% if shareholder.initial_investor == false %>
        <tr>
          <td><%= shareholder.first_name %></td>
          <td><%= shareholder.last_name %></td>
          <td>
            <%= fields_for "investment[]", investment do |inv_f| %>
              <%= inv_f.number_field :amount %>
              <%= inv_f.hidden_field :round_id, value: @round.id %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <%= f.submit %>
<% end %>
</table>
