<h1>Détails de l'opération '<%=@round.name%>'</h1>
<hr>
<p>Société : <%= @firm.name %><p>
<% unless @round.initial_round %>
  <p><%= @round.ownership_offered %>% ouvert</p>
  <p>Montant levé : <%=@round.amount_raised%> €</p>
<% end%>

<div class="row">
  <div class="col-sm-4">
  <%= button_to "Voir le tableau de capitalisation", cap_table_path(@firm.id), method: 'get', class: 'btn btn-success' %>
  </div>
  <div class="col-sm-4">
  <%= button_to "Voir les bulletins de souscription", subscription_forms_path(@firm.id, @round.id), method: 'get', class: 'btn btn-success' %>
  </div>
</div>

<h3>Liste des participants à l'opération</h3>
<table class="table table-hover">
  <th>Prénom</th>
  <th>Nom</th>
  <th>Montant investi</th>
  <% @round.shareholders.each do |shareholder| %>
    <tr>
      <td><%=shareholder.first_name%></td>
      <td><%=shareholder.last_name%></td>
      <td><%=Investment.find_by(shareholder_id: shareholder.id).amount%></td>
    </tr>
  <% end %>
</table>