 <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" id="logo-text" href="/">Capy</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><%= link_to "Comment ça marche ?", presentation_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Liste des sociétés", firms_path %></li>
              <li><a href=<%=new_firm_path%>><span class="glyphicon glyphicon-plus"></span> Ajouter une société</a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li>
              <a href=<%= firms_path %>><span class="glyphicon glyphicon-user"></span> <%= current_user.email%></a>
            </li>
              <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%=link_to 'Se connecter', user_session_path%></li>
              <li><%=link_to 'Inscription', new_user_registration_path%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>